<h1>Search Books</h1>
<div id="prog">
	<image src="/images/prog.gif" style="display:block" />
</div>
<br style="clear:both" />
<div id="search-holder">
	<%= render :partial => "search_form", :object => BookSearch.new %>
</div>

<div id="results">
</div>

<br style="clear:both" />